<div class="login-wrapper">
    <form clrForm class="login" [formGroup]="loginForm">
        <section class="title">
            <h3 class="welcome">Welcome to</h3>
            Company Product Name
        </section>
        <div class="login-group">
            <clr-input-container class="no-padding">
                <input type = "text" clrInput name="email" placeholder="Email" formControlName="email" class="clr-col-12">
                <clr-control-error>Please enter a valid Email</clr-control-error>
            </clr-input-container>
            <clr-password-container>
                <input clrPassword name="password" placeholder="Password" formControlName="password" class="clr-col-12">
                <clr-control-error>Password should be 6 characters long</clr-control-error>
            </clr-password-container>
            <div *ngIf="invalid" class="error active">
                Invalid user name or password
            </div>
            <button type="submit" (click)="tryLogin(loginForm.value)" class="btn btn-primary" style="margin-top:15px">Login  
                <span *ngIf="submit" class="spinner spinner-inline spinner-inverse">
                    Loading...
                </span></button>
            <button type="button" class="btn btn-danger" (click)="tryGoogleLogin()" style="margin-top:15px">Login with Google</button>
            <a routerLink="/register" routerLinkActive="active" class="signup">Don't have an Account? Register</a>
        </div>
    </form>
</div>